.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.brand-name {
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: -0.08em;
    color: #ff5f3b;
    line-height: 1;
}

.navbar .profile{
    width: 40px;
}
.login-conditon{
    font-size: 20px;
}